body{
    background-color:white;
}
.topdisp{
    background-color: #c2c2c2;
    overflow: hidden;
    height:550px;
}
.round{
    width:50%; 
    background-color: #B2B2B2;
    height:40%;
    display: flex;
}
.roundt{
    align-self: flex-end;
    font-size: 40px;

}
.rate{
    float: right;
    width:50%;
    background-color: #FF9D28;
}

.rat{
    background-color: #4286f4;
    height:150px;
    vertical-align: bottom;
    display: flex;
}
.ratt{
    align-self: flex-end;
    font-size: 40px;
}
.avg{
    background-color: #FF9D28;
    height:70px;
    vertical-align: bottom;
    display: flex;
}
.avgt{
    align-self: flex-end;
    font-size:30px;
}
.time{
    background-color: #9bccef;
    
    text-align: center;
    font-size: 40px;
    padding: 5px 0px 5px 0px;
}
.start{
    background-color: #ffa621;
    height:70px;
    width:100%;
}
.settings{
    background-color: #ffa621;
    height:70px;
    width:100%;
}
.back{
    background-color: #ffa621;
    height:70px;
    width:100%;
}